.registerContainer {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
}


.registerContainer input {
    margin-bottom: 1.5rem;
    padding: 8px;
    border-radius: 0;
    border: 1px solid #2fd5cd;
    width: 100%;
    box-sizing: border-box;
}

.registerContainer input:focus {
    outline: none;
    border-color: #333333;
}

.registerContainer label {
    display: block;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #2fd5cd;
    font-weight: 500;
}


.registerContainer button {
    background-color: #333333;
    width: 100%;
}

.registerContainer button:hover {
    background-color: #2fd5cd;
}



.registerContainer p {
    color: #333;
    margin-top: 1rem;
}

.registerContainer p a {
    color: #2fd5cd;
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    padding: 4px 0;
}

.registerContainer p a:hover {
    border-bottom: 1px solid #2fd5cd;
}

