header {
    padding: 0 5%;
    background: #333333;
}

#logo {
    border: 1px solid #2fd5cd;
    padding: 8px;
    color: #2fd5cd;
}

#logo:hover {
    border-color: white;
    color: white;
}

#logo span {
    font-weight: 300;
}

.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainNav ul {
    list-style-type: none;
    display: flex;
}

.mainNav ul li {
    margin: 8px;
    color: white;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 3px;
    box-sizing: content-box;
    border-bottom: 1px solid #333333;
}

.mainNav ul li:hover {
    border-color: #2fd5cd;
}

.mainNav a {
    text-decoration: none;
    color: white;
}

svg {
    fill: #2fd5cd;
    display: none;
}

svg:hover {
    fill: white;
    cursor: pointer;
}


/* Mobile nav */

.mobileNav {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1000;
    background:rgba(0,0,0,0.7);
}

.mobileNavInner {
    position: absolute;
    right: 0;
    height: 100%;
    width: 40%;
    background:#333;
}

.mobileNavInner ul {
    padding:  0 3rem 3rem 3rem;
}


.mobileNavInner a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid black;
}

.mobileNavInner a:hover {
    color: #2fd5cd;
}

.mobileNavInner button {
    background: none;
    color: #2fd5cd;
    font-size: 2rem;
    font-weight: normal;
    position: absolute;
    padding: 1rem;
    left: 2rem;
    top: 1rem;
}

.mobileNavInner button:hover {
    color: white;
}

.linksContainer {
    margin-top: 6rem;
}



/* media queries */
@media only screen and (max-width: 970px) {
    .mainNav ul {
        display: none;
    }

    svg {
        display: inline;
    }
}

@media only screen and (max-width: 700px) {
    .mobileNavInner {
        width: 100%;
    }
}
