.routineHistory {
    width: 50%;
    padding: 0 0 0 5%;
    border-left: 2px solid #2fd5cd;
}

.routineHistoryTitle {
    font-size: 2.5rem;
    margin: 0;
}

.routineHistory button {
    background-color: #333333;
    margin-top: 2rem;
}

.routineHistory button:hover {
    background-color: #2fd5cd;
}

.description {
    color: #2fd5cd;
    font-style: italic;
    margin-bottom: 2rem;
}

.historyDate {
    margin-top: 2rem;
    border-bottom: 1px solid #2fd5cd;
    padding-bottom: 1rem;
}



/* history rows */
.historyItem {
    display: flex;
    justify-content: space-between;
}

.historyItem p {
    margin: 8px 0;
}

.historyItem .exercise {
    font-weight: 500;
    color: #2fd5cd;
}

.historyItem .timeAndNegative {
    text-transform: uppercase;
    color:#2fd5cd;
    margin-left: 2rem;
}

.historyItem .timeAndNegative span {
    color: #333333;
    text-transform: lowercase;
}

.exerciseStats {
    display: flex;
    justify-content: space-between;
}

.spanPadding {
    padding-left: 9px;
}


/* Media queries */
@media (max-width: 610px) {
    .historyItem {
        flex-flow: column;
        margin-bottom: 1.5rem;
        padding-bottom: 0.5rem;
    }

    .historyItem .exercise {
        color: #333;
    }

    .historyItem p {
        margin: 0.5rem 0 0.5rem 0;
    }
}