.mainContainer {
    padding: 5%;
}

@media only screen and (min-width: 1000px) {
    .mainContainer {
        padding: 2.5%;
    }
}

main {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 1.25rem;
}

button {
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px;
    border-radius: 0%;
    border: none;
    color: white;
}

button:hover {
    cursor: pointer;
}