.workoutHistory {
    width: 50%;
    padding: 0 5% 0 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}


.workoutTitle {
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
    appearance: none;
    border: none;
    text-align: center;
    margin-top: 1rem;
    background: none;
}

.description {
    color: #2fd5cd;
    font-style: italic;
    margin-top: 0;
}

.timerContainer {
    border: 2px solid #2fd5cd;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.timeUnderLoad {
    display: block;
    font-size: 5rem;
    margin-top: 25%;
}

.timeUnderLoad span {
    font-size: 2rem;
}


/* Buttons */
#exerciseSelector {
    display: flex;
    justify-content: center;
    align-items: center;
}

#exerciseSelector button {
    background: none; 
    color: #2fd5cd;
    font-weight: normal;
    font-size: 2rem;
}

.buttonsContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.buttonsContainer button {
    margin: 5px;
    padding: 0.5rem 1rem;
    background-color: #333;
}

.buttonsContainer button:hover {
    margin: 5px;
    background-color: #2fd5cd;
}

.buttonsContainer input {
    max-width: 50px;
    border-radius: 0;
    border: 1px solid #2fd5cd;
    padding: 7px;
    margin: 5px;
}

.buttonsContainer input:focus {
    border-color: #333;
    outline: none;
}

.negatives button {
    background-color: #2fd5cd;
}

.negatives button:hover {
    background-color: #333;
}


/* conditional id for start/stop button color*/
#startSetDark {
    background-color: #333;
}

#startSetDark:hover {
    background-color: #2fd5cd;
}

#startSetLight {
    background-color: #2fd5cd;
}

#startSetLight:hover {
    background-color: #333;
}